span {
  margin: 1em;
  background: green;
}

.play-counter, .play-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.break {
	flex-basis: 100%;
	height: 0;
}

.play-container {
	flex-wrap: wrap;
}

.bold {
	color: darkgreen;
}