@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  background-color: #eee;
  margin: 0;
  font-family: Open Sans;
}

footer, nav {
  display: flex;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

footer a, nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex: 1;
	padding: 8px;
	text-decoration: none;
	color: black;
	

}


footer p, nav p {
display: flex;
align-items: center;
flex: 4;
padding-left: 32px;
font-family: cursive;
font-weight: bold;

}


main {
	height: calc(100vh - 80px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


